<div class="customer-form" id="pass-canvas">
    {% form 'create_customer' %}
        <div class="pass-header form-header">
            <div class="formh-eader-title">Recover Password</div>
            <i class="fa fa-times close"></i>
        </div>
        {{ form.errors | default_errors }}
        <div class="form-input-wrapper">
            <p class="form-row">
                <label for="email">Email</label>
                <input type="email" name="customer[email]"  >
            </p>
            <input type="submit"  value="Reset Password" class="mb-3 text-uppercase"> <br>
            <p>Remembered your password? <span class="back-to-login">Back to login</span></p>
        </div>
    {% endform %}
</div>
