<section class="sale-end-area section-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div class="sale-inner-area">
                    <img src="{{ section.settings.image | img_url: 'medium' }}" alt="" class="sale-end-img">
                    <div class="sale-end-text">
                        <h2 class="sale-end-title"> <span class="d-block">{{ section.settings.text-1 }}</span> {{ section.settings.text-2 }}</h2>
                        <p class="sale-end-para">Fall/ Winter 2014</p>
                        <a href="#" class="go-link">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
   "name": "Sale End Seasons",
  "settings": [
     {
         "type": "text",
         "id": "text-1",
         "label": "Text Line One",
         "default": "Sale"
     },
     {
         "type": "text",
         "id": "text-2",
         "label": "Text Line Two",
         "default": "End Seasons"
     },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
    }
  ],
 "presets": [
     {
         "category": "Image",
         "name":"Sale End Seasons"
     }
 ]
}
{% endschema %}